# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
config/

# OS or editor temp files
*.swp
Thumbs.db

# SQLite database file
data/forex.db

# Virtual environment
venv/
.env

# IDE files
.vscode/
.idea/
